/*Lesson 3*/
.P-Red{
    color: red;
    font-weight: bold;
}
.H2-Blue{
    color: blue;
    text-decoration: underline;
}

/*Lesson 4*/
.Fast-food{
    border: 2px solid green;
    width: 350px;
    font-weight: bold;
}
.Fast-food h1, h2{
    color: red;
}
.Fast-food em{
    color: green;
}
.Fast-food p{
    color: blue;
}
.Credit{
    color: red;
}
.Fast-food input{
    border: 2px solid red;
}
.Fast-food button {
    width: 200px;
    height: 50px;
    border: 2px solid green;
    color: green;
}